/* Background Image Full Screen */

body {
  background: url(./images/sky-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenWrapper {
  width: 90%;
  height: 90vh;
  border: 10px solid pink;
  z-index: 11;
  border-radius: 5px;
}

#ball {
  background: green;
  border-radius: 50%;
  display: none;
  position: absolute;
  width: 7vh;
  height: 7vh;
  left: 100px;
  top: 100px;
  z-index: 5;
}

#avatar {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  height: 5%;
  width: 20%;
  border: 10px solid black;
}
@media all and (max-width: 700px) {
  #avatar {
    width: 25%;
  }
}
/* @media all and (max-height: 700px) {
  #avatar {
    height: 10%;
  }
} */

/* #trampoline { position: absolute; top: 650px; left: 600px; border: 3px solid blue; } */
#startMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  text-align: center;
}

/* Large screens */
.menuBoard {
  display: flex;
  height: auto;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: flex-start;
  border: 3px solid blue;
}

/* Small screens */
@media all and (max-width: 500px) {
  .menuBoard {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

#scorediv {
  /* position: absolute; */
  /* width: 100px; */
  /* height: 120px; */
  /* left: 90%; */
  /* top: 10%; */
  font-size: 24px;
  border: 2px solid black;
  min-height: 80px;
}

.btn {
  /* position: absolute; */
  padding: 15px;
  /* width: 100px; */
  min-height: 80px;
}

/* 
#resetBtn {
  left: 90%;
  top: 20%;
}

#mainMenuBtn {
  left: 90%;
  top: 50%;
} 
*/

.hidden {
  display: none;
}

#brickWrapper {
  width: 100%;
  height: 25%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 5px solid green;
}

#brickWrapper > div {
  /* flex-grow: 1; */
}

.bbb {
  width: 20%;
  height: 10%;
  background-color: yellow;
  border: 3px solid black;
}

/* #x {
  position: absolute;
  background: red;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  top: 50%;
} */
