/* Background Image Full Screen */
html {
  background: url(./images/sky-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#ball {
  background: green;
  border-radius: 50%;
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
  z-index: 5;
}

#ball2 {
  left: 300px;
  top: 0px;
  background: red;
}

#trampoline {
  position: absolute;
  top: 650px;
  left: 600px;
  border: 3px solid blue;
}

#startMenu {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* Large screens */
.menuBoard {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  border: 3px solid blue;
}

/* Small screens */
@media all and (max-width: 500px) {
  .menuBoard {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

#scorediv {
  /* position: absolute; */
  width: 100px;
  height: 120px;
  left: 90%;
  /* top: 10%; */
  font-size: 24px;
  border: 2px solid black;
}

.btn {
  /* position: absolute; */
  padding: 15px;
  width: 100px;
}

/* 
#resetBtn {
  left: 90%;
  top: 20%;
}

#mainMenuBtn {
  left: 90%;
  top: 50%;
} 
*/

.hidden {
  display: none;
}
